<swiper [config]="config" [(index)]="index">
  <div>
    <img src="https://cdnsecakmi.kaltura.com/p/2093031/sp/209303100/thumbnail/entry_id/0_a6g6kima/def_height/1080/def_width/1920/type/5" alt="">
  </div>
  <div>
    <img src="https://cdnsecakmi.kaltura.com/p/2093031/sp/209303100/thumbnail/entry_id/0_5mh210uu/def_height/1080/def_width/1920/type/5" alt="">
  </div>
  <div>
    <img src="https://cdnsecakmi.kaltura.com/p/2093031/sp/209303100/thumbnail/entry_id/0_z06pbjpv/def_height/1080/def_width/1920/type/5" alt="">
  </div>
  <div>
    <img src="https://cdnsecakmi.kaltura.com/p/2093031/sp/209303100/thumbnail/entry_id/0_k3muwzpm/def_height/1080/def_width/1920/type/5" alt="">
  </div>
  <div>
    <img src="https://cdnsecakmi.kaltura.com/p/2093031/sp/209303100/thumbnail/entry_id/0_muylgzli/def_height/1080/def_width/1920/type/5" alt="">
  </div>
  <div>
    <img src="https://cdnsecakmi.kaltura.com/p/2093031/sp/209303100/thumbnail/entry_id/0_srirfw1p/def_height/1080/def_width/1920/type/5" alt="">
  </div>
  <div>
    <img src="https://cdnsecakmi.kaltura.com/p/2093031/sp/209303100/thumbnail/entry_id/0_rnw3egm3/def_height/1080/def_width/1920/type/5" alt="">
  </div>
</swiper>
